<section class="container-fluid no-padding" data-ng-controller="GroupPagesController as vm" data-ng-init="find()">
 <section class="container-fluid no-padding" data-ng-controller="AdminPageController">
  <img src="/packages/contrib/groupPages/public/assets/img/pages/admin.jpg" class="img-responsive">
  <div class="col-md-12 first">
    <h3>User and page administration</h3>
    <p>This page lists all pages on the site, and the ones you can edit have controls next to them!</p>
    <a href="/#!/groupPages/create">Create groupPage</a>
    <hr>
    <div id="adminList">
        <div ng-repeat="category in adminCategories">
            <div class="col-sm-4">
                <h3>{{category}}</h3>
                <div ng-repeat="page in ::vm.groupPages">
                    <div ng-if="page.category===category">
                        <span data-ng-if="hasAuthorization(page)">
                          <a href="/#!/groupPages/{{page._id}}/edit">Edit</a> | 
                          <a data-ng-click="drop(page);remove(page)">Delete</a> ||
                        </span>
                        <a data-ng-href="#!/groupPages/{{page._id}}">{{page.title}}</a>
                        <span>{{groupPage.created | date:'medium'}}</span><br>
                        <span>{{groupPage.user.name}}</span>
                        <div ng-bind-html="page.content" ng-model="page.content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 </section>
</section>
