<div ng-controller="GroupPagesController">
 <section class="container-fluid no-padding" data-ng-controller="GetInvolvedController">
  <img src="/packages/contrib/groupPages/public/assets/img/pages/get-involved.jpg" class="img-responsive">
  <div class="col-md-12 first">
    <div class="col-sm-8">
        <h3>Here's a few ways to help out.</h3>
        <p>This page is primarily directed towards action, helping the site, and helping protectors.</p>
        <ul>
            <li>Suggestions of other sites, event calendars</li>
            <li>Links internally around site, to group pages, etc</li>
            <li>Instructions on signing up with the site, what help we need</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h5>Quicklinks</h5>
    </div>
 </div>
</section>
</div>
