<section data-ng-controller="GroupPagesController as vm" data-ng-init="find()">
  <ul class="groupPages unstyled">
    <li data-ng-repeat="groupPage in ::vm.groupPages">
      <span>{{groupPage.created | date:'medium'}}</span> /
      <span>{{groupPage.user.name}}</span>
      <h2>
        <a data-ng-href="#!/groupPages/{{groupPage._id}}">{{groupPage.title}}</a>
        <span data-ng-if="hasAuthorization(groupPage)">
          <a class="btn" href="/#!/groupPages/{{groupPage._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(groupPage);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h2>
      <div>{{groupPage.content}}</div>
    </li>
  </ul>
  <h1 data-ng-hide="!groupPages || groupPages.length">No groupPages yet. <br> Why don't you <a href="/#!/groupPages/create">Create One</a>?</h1>
</section>
