<div ng-controller="GroupPagesController">
 <section class="container-fluid no-padding" data-ng-controller="ProtectorListController">
  <img src="/packages/contrib/groupPages/public/assets/img/pages/protectors.jpg" class="img-responsive">
  <div class="col-md-12 first">
    <div class="col-sm-8">
        <h3>This is a protect movement</h3>
        <p>Keep up to date with latest events, media, and more from groups working to protect the land.</p>
        <hr>
        <div id="newsList">
            <div ng-repeat="page in protectors">
                <span data-ng-if="hasAuthorization(page)">
                  <a href="/#!/groupPages/{{page._id}}/edit">Edit</a> | 
                  <a data-ng-click="drop(page);remove(page)">Delete</a> ||
                </span>
                <a style="font-size:22px;" data-ng-href="#!/groupPages/{{page._id}}">{{page.title}}</a>
                <div ng-bind-html="page.content" ng-model="page.content"></div>
                <div id="links">
                    <div data-ng-repeat="img in page.imageAttachments">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{img.src}}" title="Add title" data-gallery>
                                <img style="margin:10px;box-shadow:2px 2px 2px #CCC;border:thin #ccc solid;" class="img-responsive" src="{{img.src}}" alt="Add alt">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h5>Get involved</h5>
        <p>Creating your own page can help you share media, what you're doing to stop the pipeline, information about your encampment, and more.</p>
        <a class="btn btn-success" data-ng-href="/#!/groupPages/create">Create a page</a>
    </div>
 </div>
</section>
</div>
