<div ng-controller="GroupPagesController">
 <section class="container-fluid no-padding" data-ng-controller="ResourcesController">
  <img src="/packages/contrib/groupPages/public/assets/img/pages/resources.jpg" class="img-responsive">
  <div class="col-md-12 first">
    <div class="col-sm-8">
        <h3>Lots of good information here.</h3>
        <p>This page has a host of ways you can educate yourself!</p>
        <ul>
            <li>History of spills across BC</li>
            <li>Proposed energy projects</li>
            <li>Activist resources - legal, social, cultural, practical</li>
        </ul>
        <p>Design: big icons can go here, maybe a few recent news in the side, etc. Underneath there is a table of various posts, and links off on the side
        to other resources.</p>
        <div id="newsList">
            <h2>News Articles List</h2>
            <div ng-repeat="page in news">
                <span data-ng-if="hasAuthorization(page)">
                  <a href="/#!/groupPages/{{page._id}}/edit">Edit</a> | 
                  <a data-ng-click="drop(page);remove(page)">Delete</a> ||
                </span>
                <a data-ng-href="#!/groupPages/{{page._id}}">{{page.title}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>More resources</h3>
    </div>
 </div>
</section>
</div>
