<section class="container-fluid" data-ng-controller="GroupPagesController as vm" data-ng-init="findOne()">
  <!-- 
    PROTECTOR PAGE
  --> 
 <!-- <div data-ng-if="privacyCheck(vm.groupPage)"> -->
  <div id="ProtectorPageController" ng-controller="ProtectorPageController">
      <div class="col-sm-12 row text-center">
        <h1>{{vm.groupPage.title}}</h1>
        <h5>{{vm.groupPage.category}}</h5>
        <h6>{{vm.groupPage.privacy}}</h6>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <!-- Page introduction area -->
              <div ng-show="showEditArea===true" ng-hide="!showEditArea||showEditArea===false"><textarea>{{vm.groupPage.content}}</textarea></div>
              <div ng-bind-html="sanitizedContent" ng-hide="hideCurrentContent===true" ng-show="!hideCurrentContent||hideCurrentContent===false"><p>{{sanitizedContent}}</p></div>
              <div data-ng-if="hasAuthorization(vm.groupPage)">
                <a class="btn btn-primary" href="/#!/groupPages/{{vm.groupPage._id}}/edit">Edit content</a>
                <a class="btn btn-danger" data-ng-click="remove(vm.groupPage);">Delete page</a>
              </div>
              <hr>
              <div>
                  <!-- Child pages, appear in left side, can be reordered -->
                  <div ng-controller="EditChildPageController" ng-repeat="thisChildGroupPage in childrenGroupPageArraysNow">
                      <h3>{{thisChildGroupPage.title}}</h3>
                      <div data-ng-if="hasAuthorization(vm.groupPage)">
                        <a class="btn btn-primary" ng-click="editChildPage()" ng-hide="thisChildGroupPage.showEditArea===true" ng-show="!thisChildGroupPage.showEditArea||thisChildGroupPage.showEditArea===false">Edit content</a>
                        <a class="btn btn-success" ng-click="saveChildPage(thisChildGroupPage)" ng-show="thisChildGroupPage.showEditArea===true" ng-hide="!thisChildGroupPage.showEditArea||thisChildGroupPage.showEditArea===false">Save content</a>
                        <a class="btn btn-danger" ng-click="deleteChildPage()">Delete</a>
                      </div>
                      <div ng-show="thisChildGroupPage.showEditArea===true" ng-hide="!thisChildGroupPage.showEditArea||thisChildGroupPage.showEditArea===false"><textarea froala="froalaOptions" ng-model="thisChildGroupPage.content"></textarea></div>
                      <div ng-hide="thisChildGroupPage.showEditArea===true" ng-show="!thisChildGroupPage.showEditArea||thisChildGroupPage.showEditArea===false" ng-bind-html="thisChildGroupPage.htmlSafe">{{thisChildGroupPage.htmlSafe}}</div>
                  </div>
              </div>
                <!-- Page gallery -->
                <h4>Gallery</h4>
                <!-- Upload abilities, only for page admin right now -->
                <div data-ng-if="hasAuthorization(vm.groupPage)">
                    <p>For big uploads, use Google Storage. For images, use the local upload. Only admins can upload to pages right now.</p>
                    <button class="btn-primary" ng-click="googleStorage()">Google storage</button>
                    <div ng-controller="GoogleStorageController" ng-show="googleStorage.editingAllowed===true" class="ng-hide">
                        <button id="authorize-button" style="visibility: hidden">Authorize</button>
                        <button ng-click="listBuckets()">List Buckets</button>
                    </div>
                    <button class="btn-primary" ng-click="uploadFile()">Upload File</button>
                    <div ng-controller="MeanUploadController" ng-show="uploadFile.editingAllowed===true" class="ng-hide">
                      <mean-upload file-dest="'/files/photos/'"
                        upload-callback="uploadFinished2(files)"
                        upload-file-callback="uploadFileCallback2(file)"></mean-upload>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div data-ng-repeat="img in newImageAttachments">
                                <img class="img-responsive" data-ng-src="{{img.src}}" alt="">
                                <p>Added!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Gallery of images -->
                <div id="links">
                    <div data-ng-repeat="img in imageAttachments">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{img.src}}" title="Add title" data-gallery>
                                <img style="margin:10px;box-shadow:2px 2px 2px #CCC;border:thin #ccc solid;" class="img-responsive" src="{{img.src}}" alt="Add alt">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adding new text area form -->
                <div ng-controller="AddTextareaController" ng-show="addTextarea.editingAllowed===true" class="ng-hide">
                  <hr>
                  <h5>New text area</h5>
                  <form name="groupPageForm" class="form-horizontal col-md-12" role="form" data-ng-submit="create(groupPageForm.$valid)" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.title.$invalid }">
                      <label mean-token="'create-title'" class="col-md-3 control-label">Title</label>
                      <div class="col-md-9">
                        <input name="title" type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
                        <div ng-show="submitted && groupPageForm.title.$invalid" class="help-block">
                          <p ng-show="groupPageForm.title.$error.required">Title is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.content.$invalid }">
                      <label mean-token="'create-content'" for="content" class="col-md-3 control-label">Content</label>
                      <div class="col-md-9">
                        <textarea name="content" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
                        <div ng-show="submitted && groupPageForm.content.$invalid" class="help-block">
                          <p ng-show="groupPageForm.content.$error.required">Content is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.privacy.$invalid }">
                      <label mean-token="'create-privacy'" for="privacy" class="col-md-3 control-label">Privacy</label>
                      <div class="col-md-9">
                        <select class="form-control" data-ng-model="privacy" id="privacy" ng-options="p for p in privacies"><option>Select privacy</option></select>
                        <div ng-show="submitted && groupPageForm.privacy.$invalid" class="help-block">
                          <p ng-show="groupPageForm.privacy.$error.required">Privacy is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-9">
                        <button mean-token="'create-submit'" type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
          </div>
          <div class="col-sm-4">
            <div data-ng-if="hasAuthorization(vm.groupPage)">
            <h4>Page Management</h4>
            <ul class="list-group">
            <!-- Member management only for those pages -->
            <div ng-if="vm.groupPage.privacy==='Selected Members Only'">
                <li class="list-group-item">
                    <p class="lead">Member management</p>
                    <p>Select from below and click "add" to add members to your page.</p>
                    <button class="btn-primary" ng-click="manageMembers()">Manage page members</button>
                    <div ng-controller="ManageMembersController" ng-show="manageMembers.editingAllowed===true" class="ng-hide" manage-members>
                        <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.privacy.$invalid }">
                          <label mean-token="'create-privacy'" for="privacy" class="col-md-3 control-label">User list</label>
                          <div class="col-md-9">
                            <select class="form-control" data-ng-model="addNewUser" id="addNewUser" ng-options="user.name for user in users"><option>Select User</option></select>
                          </div>
                        </div>
                        <button class="btn-success" ng-click="addUser()">Add User</button>
                    </div>
                </li>
            </div>
            <li class="list-group-item">
                <p class="lead">Add text area</p>
                <p>These appear beneath the introduction text on the left. You can add any images, videos, links etc in the text areas.</p>
                <button class="btn-primary" ng-click="addTextarea()" ng-show="editingAllowed===true" class="ng-hide">Add text area</button>
            </li>
            <li class="list-group-item">
                <p class="lead">Reorder text areas</p>
                <p>Click the arrows to move text areas up and down.</p>
                <button class="btn-primary" ng-click="rearrangeTextareas()" ng-show="editingAllowed===true" class="ng-hide">Rearrange text areas</button>
                <div ng-controller="RearrangeTextareasController" ng-show="rearrangeTextareas.editingAllowed===true" class="ng-hide" rearrange-textareas></div>
            </li>
          </ul>
           <!-- End of management area -->
          </div>
      </div>
  </div>
  <!-- 
    MEDIA PAGE
  -->
  <div id="MediaPageController" ng-controller="MediaPageController" ng-show="vm.groupPage.category ==='Media'" class="ng-hide">
       <div class="col-sm-12 row text-center">
        <h1>{{vm.groupPage.title}}</h1>
        <h5>{{vm.groupPage.category}}</h5>
        <h6>{{vm.groupPage.privacy}}</h6>
       </div>
       <div class="row">
          <div class="col-sm-8">
              <div data-ng-if="hasAuthorization(vm.groupPage)">
                <a class="btn" href="/#!/groupPages/{{vm.groupPage._id}}/edit">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn" data-ng-click="remove(vm.groupPage);">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </div>
              <div>{{vm.groupPage.content}}</div>
              <hr>
                <h4>Gallery</h4>
                <div id="links">
                    <div data-ng-repeat="img in imageAttachments">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{img.src}}" title="Add title" data-gallery>
                                <img style="margin:10px;box-shadow:2px 2px 2px #CCC;border:thin #ccc solid;" class="img-responsive" src="{{img.src}}" alt="Add alt">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-sm-4">
            <div data-ng-if="hasAuthorization(vm.groupPage)">
                <button ng-click="manageMembers()">Manage page members</button>
                <div ng-controller="ManageMembersController" ng-show="manageMembers.editingAllowed===true" class="ng-hide" manage-members>
                    <p>Type the name of the user to add to this page.</p>
                    <button ng-click="init()">Populate List</button>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && groupPageForm.privacy.$invalid }">
                      <label mean-token="'create-privacy'" for="privacy" class="col-md-3 control-label">Privacy</label>
                      <div class="col-md-9">
                        <select class="form-control" data-ng-model="addNewUser" id="addNewUser" ng-options="user.name for user in users"><option>Select User</option></select>
                      </div>
                    </div>
                    <button ng-click="addUser()">Add User</button>
                </div>
           </div>
                <button ng-click="googleStorage()">Google storage</button>
                <div ng-controller="GoogleStorageController" ng-show="googleStorage.editingAllowed===true" class="ng-hide">
                    <button id="authorize-button" style="visibility: hidden">Authorize</button>
                    <button ng-click="listBuckets()">List Buckets</button>
                </div>
                <button ng-click="uploadFile()">Upload File</button>
                <div ng-controller="MeanUploadController" ng-show="uploadFile.editingAllowed===true" class="ng-hide">
                  <mean-upload file-dest="'/files/photos/'"
                    upload-callback="uploadFinished2(files)"
                    upload-file-callback="uploadFileCallback2(file)"></mean-upload>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div data-ng-repeat="img in newImageAttachments">
                            <img class="img-responsive" data-ng-src="{{img.src}}" alt="">
                            <p>Added!</p>
                        </div>
                    </div>
                </div>
           </div>
      </div>
  </div>
  <!-- 
    OTHER PAGE
  -->
  <div ng-controller="GroupPagesController" class="ng-hide">
      <span>{{vm.groupPage.created | date:'medium'}}</span> /
      <span>{{vm.groupPage.user.name}}</span>
      <h2>{{vm.groupPage.title}}</h2>
      <div data-ng-if="hasAuthorization(vm.groupPage)">
        <a class="btn" href="/#!/groupPages/{{vm.groupPage._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove(vm.groupPage);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <div>{{vm.groupPage.content}}</div>
  </div>
</section>